/* --- Home1 --- */
.home1 {
    background-image: url("../public/img/background-Home1.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 720px;
  }
  .presentation-container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: fit-content;
  }
  .presentation {
    width: 1000px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .presentation__image {
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .presentation__image img {
    height: 100%;
    object-fit: cover;
  }
  .presentation__info {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  .presentation__text {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .presentation__text h2 {
    font-size: 70px;
    margin-bottom: 10px;
    color: white;
    border-bottom: rgb(158, 158, 158) 5px solid;
    text-shadow: 15px 15px 30px black;
  }
  .presentation__text p {
    margin-top: 20px;
    color: white;
    font-size: 30px;
    text-align: center;
    text-shadow: 15px 15px 30px black;
  }
   .presentation__btn-container {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .presentation__btn {
    border-radius: 40px;
    display: inline-block;
    background-image: linear-gradient(
      to right,
      rgb(0, 113, 158),
      rgba(0, 255, 64, 0.336)
    );
   position: relative;
   cursor: pointer;
   color: #fff;
   font-size: 25px;
   padding: 16px;
   text-decoration: none;
   text-transform: uppercase;
  }
  
  .presentation__btn:after {
   content: "";
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   outline: 2px solid #fff;
   opacity: .2;
   transition: all .3s;
   animation: pulse 2s infinite alternate;
  }
  @keyframes pulse {
   0%{transform:scale(1);
   opacity: .4;
   border-radius: 40px;}
   
   100%{transform:scale(1.05, 1.2);
   opacity: .6;
  border-radius: 20px;}
  }
  @media only screen and (max-width: 800px) {
    .presentation {
      flex-direction: column;
      height: 100vh;
    }
    .presentation__info {
      width: 90%;
    }
    .presentation__info {
      height: 50%;
    }
  }
  @media only screen and (max-width:550px) {
    .presentation__btn{
      padding: 10px;
      font-size: 20px;
    }
  }
  @media only screen and (max-width: 400px) {
    .presentation__text h2 {
      font-size: 50px;
    }
    .presentation__btn{
      font-size: 16px;
    }
  } 